table {
  clear: left;
  float: left;
  padding: 10px;
  border: 1px solid black;
  td {
    padding: 5px 10px;
  }
  tr:nth-child(even) {
    background-color: #EEE;
  }
  tr:hover {
    background-color: #ACE5EE;
  }
}
