table {
  clear: left;
  float: left;
  padding: 10px;
  border: 1px solid black;
  td {
    padding: 5px 10px;
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:hover {
    background-color: #ace5ee;
  }
}

button:hover,
input:hover {
  cursor: pointer;
}
