<app-expense-form></app-expense-form>
<div *ngIf="expenses?.length"class="title">Expenses:</div>
<table *ngIf='expenses?.length'>
    <tr>
        <th>Name</th>
        <th>Cost</th>
        <th *ngFor='let person of persons'>{{ person.name }}</th>
    </tr>
    <tr *ngFor='let expense of expenses'>
        <td>{{ expense.name }}</td>
        <td>{{ expense.cost }}</td>
    </tr>
</table>
<button style="background-color: rgb(247, 184, 253);" (click)='generateTestData()'>Generate test data</button>